@import './base.css';

.v-application {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  transition: background 0.4s;
}

a, .theme {
  text-decoration: none;
  color: var(--color-link);
  /* transition: 0.4s; */
  padding: 3px;
}

/* @media (hover: hover) {
  a:hover {
    background-color: var(--color-link-background);
  }
} */

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
    width: 100%;
  } */

  .v-application {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
